* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
   
}

.card {
   margin: 0 auto;
    background-image: url(assets/westw.jpg);
    width: 300px;
    height: 400px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(18, 18, 18, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    overflow: hidden;
   
    
    
}

.save {
    position: absolute;
    color: white;
    background-color: red;
    border-radius: 25px;
    padding: 16px 20px;
    right: 20px;
    top: -55px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
   
   
    
}

.label, 
.action, 
.dots {
    background-color: white;
    position: absolute;
    padding: 10px 15px;
    border-radius: 25px;
    opacity: 0,8;
    cursor: pointer;
}

.label {
    left: 15px;
    bottom: -42px;
    width: 120px;
   
}

.scritta1 {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 800;
    font: 40px;
    text-overflow: ellipsis;
    font-weight: 600;
    
   
}

.action {
    left: 180px;
    bottom: -42px;
}

.dots {
    right: 20px;
    bottom: -42px;
}

.container  {
    padding: 50px;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.566);
 }

.card:hover .save {
   top:20px
}

.card:hover .label {
    bottom: 15px;
 }

 .card:hover .action {
    bottom: 20px;
 }
 
 .card:hover .dots {
    bottom: 20px;
 }


 .gradient {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.362);
    padding: 200px;
    left: 300px;
 }

 .card:hover .gradient {
  left: -100px;
 }
 
      
      
